In [ ]:
print('hello')

# 01.intro

## 단축키

- ctrl + enter:지금 셀 실행
- shift + enter:지금 셀 실행+아래로 이동
- alt + enter:지금 셀 실행+아래에 새로운 셀 추가

In [ ]:
# 주석입니다.

# 1.변수

변수이름 '=' 값

- 변수이름은 어떤 이름이든 상관없음
- 영어 숫자,`_`를이용하여 선언
- 키워드는 사용불가

In [ ]:
a = 10

In [ ]:
a

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 number

In [3]:
a = 100000

In [4]:
a

100000

In [5]:
type(a)

int

In [6]:
b = 1.1

In [7]:
b

1.1

In [8]:
type(b)

float

In [9]:
c = 1-4j

In [10]:
c

(1-4j)

In [11]:
type(c)

complex

In [12]:
c.imag

-4.0

In [13]:
c.real

1.0

### 1.2 Boolean
`True`,`False`로 이루어진 타입

In [14]:
a = True

In [15]:
type(a)

bool

### 1.3 None

In [16]:
a = None

In [17]:
type(a)

NoneType

### 1.4 String
- 문자열은 `'`, `"`를 이용하여 표현

In [18]:
a = 'hello'

In [19]:
type(a)

str

In [20]:
b = "world"

In [21]:
type(b)

str

In [22]:
age = input()

 111111

In [23]:
age

'111111'

In [24]:
type(age)

str

In [25]:
print('안녕하세요?'유건'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2420286816.py, line 1)

In [26]:
print("안녕하세요?'유건'입니다.")

안녕하세요?'유건'입니다.

In [27]:
print('안녕하세요?\'유건\'입니다.')

안녕하세요?'유건'입니다.

In [32]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성할 수 있습니다.
'''

In [33]:
print(a)

여기는
문자열입니다.
여러	줄을 작성할 수 있습니다.

In [34]:
print('하나', '둘', '셋')

하나 둘 셋

#### string interpolation
1. %-fomatting
2. str.format()
3. f-string

In [35]:
age = 100

In [36]:
print('홍길동은 %s살입니다.' % age)

홍길동은 100살입니다.

In [38]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 100살입니다.

In [39]:
print(f'홍길동은 {age}살입니다.')

홍길동은 100살입니다.

### 2.연산자
2.1 산술연산자

In [40]:
a = 2
b = 3

In [41]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

5
-1
6
0.6666666666666666

In [42]:
print(a**b)

8

In [45]:
# 나눈 몫
print(a // b)
# 나눈 나머지
print(a % b)

# mod
print(divmod(a, b))

0
2
(0, 2)

### 2.2비교연산자

In [46]:
a = 5
b = 10

In [49]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [51]:
print(a == b)
print(a != b)

False
True

In [52]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3논리연산자
- and :양쪽 모두 `True`일 때, `True`를 반환
- or :양쪽 모두 `Flase`일 때, `False`를 반환
- not :값을 반대로 전환

In [55]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [56]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [57]:
print(True)
print(not True)

a = True
print(not a)

True
False
False

In [59]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [60]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.4 복합연산자

In [63]:
a = 2
b = 3

In [69]:
a = a + b
a = a - b
a = a * b
a = a // b
a = a % b
a = a ** b

In [72]:
print(a)

8

In [73]:
a = a + b
a = a - b
a = a * b
a = a // b
a = a % b
a = a ** b
print(a)

8

### 2.4 기타연산자

In [74]:
a = 'hi'
b = 'hello'

In [75]:
# concatenation
a + b

'hihello'

In [76]:
a = [1, 2, 3]
b = [9, 8 ,7]

In [77]:
a + b

[1, 2, 3, 9, 8, 7]

In [79]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [80]:
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

In [81]:
a = 123123
b = 123123
print(a is b)

False

In [82]:
a = 10
b = 10
print(a is b)

True

In [85]:
print((-3) ** 4)
print(-3 ** 4)

81
-81

### 3.형변환
3.1 암시적 형변환

In [86]:
a = True
b = False
c = 1

In [88]:
print(a + c)
print(b + c)

2
1

In [89]:
int_num = 3
float_num = 3
complex_num = 3 +3j

In [90]:
print(int_num + float_num)
print(int_num + complex_num)

6
(6+3j)

## 3.2 명시적 형변환

In [91]:
a = 1
b = '번'

In [92]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [93]:
print(str(a) + b)

1번

In [94]:
a = '100'

In [95]:
print(type(int(a)))

<class 'int'>

In [98]:
age = int(input())
print(type(age))

 123

<class 'int'>

In [99]:
a = '3.3'

In [100]:
type(float(a))

float

In [101]:
a = 1
b = 0
c = 100

In [104]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [105]:
print(bool(''))
print(bool('a'))

False
True

In [106]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4.시퀀스 자료형
시퀀스는 데이터의 순서대로 나열된 자료구조.(순서대로 나열되어 있다는 것은 정렬된것과는 다르다.)
1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

## 4.1 List(배열)
- 선언:변수이름 =[value1, value2, value3]
- 접근:변수이름[index]

In [107]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [109]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-1]) #오른쪽부터 원쪽으로 순서가 바뀐다

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
부산
['서울', '대전', '제주']

## 4.2 Tuple(튜플)
- 선언: 변수이름 = (value1, value2, value3)
- 접근:변수이름[index]
- List와 유사하지만 수정불가능(immutable)하다.

In [110]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [111]:
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [114]:
result = divmod(9, 4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [117]:
x, y = (1, 2)
print(x, y)

x, y = (y, x)
print(x, y)

1 2
2 1

### 4.3 range
- range(n): 0부터 n-1까지 범위
- range(n, m): n부터 m-1까지 범위
- range(n, m, s): n부터 m-1까지 범위, +s만큼 증가하는 범위

In [118]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [119]:
r = range (5, 15)
print(r)

range(5, 15)

In [120]:
r= range(5, 15, 2)
print(r)

range(5, 15, 2)

In [121]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [122]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [123]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [125]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [127]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [130]:
print(my_list[ :3])
print(my_list[3 :])

[1, 2, 3]
[4, 5]

In [132]:
# in
print(11 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

False
True
True
True

In [134]:
# not in
print(11 not in my_list)
print(100 not in  my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

In [136]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [139]:
# *
print(my_string * 3)
print(my_list * 3)

print([[0] * 10] *10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [140]:
len(my_list)

5

In [141]:
min(my_tuple)

11

In [143]:
max(my_range)

9

In [145]:
my_list.count(1)

1

## 5.시퀀스데이터가 아닌 자료구조
### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언: 변수이름 = {value1, value2, value3}

In [146]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [149]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [150]:
my_list = {1, 2, 3, 1, 4, 5, 6, 7, 3, 2, 5, 6, 2}
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7}

## 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값을 사용가능, (불변값: string, integer...)
- value에는 모든 데이터 가능. (list, dict도 가능)

In [154]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [158]:
dict_a = {
    'name': 'yoogeon',
    'age': 10,
    'location': 'ilsan',
    'numbers': [1, 2, 3, 4, 5],
    'friends' : {
        'a':10,
        'b':11,
    },
}

print(dict_a['age'])
print(dict_a['numbers'][3])
print(dict_a['friends']['b'])

10
4
11

In [159]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [161]:
dict_a.values()

dict_values(['yoogeon', 10, 'ilsan', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

## 데이터 타입

1. Number
2. Boolean
3. String

## 자료구조

- 시퀀스 자료형
    1. [List] :mutable
    2. (Tuple):immutable
    3. range():immutable
    4. 'String':immutable

- 시퀀스가 아닌 자료형
    1. (Set): mutable
    2. (Dict: ionary): mutable